<!DOCTYPE html>
<html>

<head>
    <title>Rolland's hell game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='socketio.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</head>

<body>
    <center>
        <h1>Rolland's hell game</h1>
        <table width=60%>
            <tr width=30% height="100px">
                <td width=33% id="div_1"></td>
                <td width=33% id="div_2"></td>
                <td width=33% id="div_3"></td>
            </tr>
            <tr width=30% height="100px">
                <td width=33% id="div_4"></td>
                <td width=33% id="div_5"><div class="Blanc"></div></td>
                <td width=33% id="div_6"></td>
            </tr>
            <tr width=30% height="50px" border align=center>
                <td id="avdj" style="display: none;" colspan=3>A vous de Jouer !</td>
                <td id="regardez" style="display: box;" colspan=3>Regardez bien !</td>
            </tr>
        </table>
        <div class="container">

            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
        </div>
    </center>
</body>

</html>